/* CSS Document */
@font-face {
  font-family: font-tahoma;
  src: url(../font/tahoma.ttf);
}

*{
	margin: 0;
	padding: 0
}
a{
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}
h1{
	font-family: 'Dancing Script', cursive;
}
#wrapper{
	height: 1151px;
	width: 965px;
	margin: 0 auto;
}
.header{
	height: 170px;
	width: 965px;
}
.header .logo{
	height: 170px;
	width: 345px;
	background: white;
	float: left;
}
.header .logo img{
	margin-top:45px;
}
.header .menu{
	height: 170px;
	width: 620px;
	float: right;
}
.header .menu .top-menu{
	height: 70px;
	width: 620px;
	text-align: right;
}
.header .menu .top-menu img{
	width: 30px;
	margin-left: 10px;
	margin-top: 20px;
}
.header .menu .bot-menu{
	height: 55px;
	width: 620px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.nav{
	list-style: none;
	margin-left: 60px;
}
.nav li{
	display: inline-block;
	margin-left: 30px;
	margin-top:20px;
}
.nav li a{
	color: black;
	text-decoration: none;
	font-size: 17px;
}
/*Header*/
.content{
	height:845px;
	width: 965px;
}
.content .banner{
	height:667px;
	width: 965px;
	background: grey;
}
.content .title{
	height:105px;
	width: 965px;
	padding-top:20px
}
.title h1{
	color: grey;
	width: 965px;
	height: 80px;
	background: #DBD7D7;
	line-height: 80px;
	text-align: center;
}
.content .projects{
	height:280px;
	width: 965px;
	
}
.projects h2{
	color: #DFDFDF;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 12px;
}
.content .projects .box{
	height:176px;
	width: 230px;
	background: #1DAECC;
	float: left;
	margin-left: 10px;
	margin-top:20px;
	text-align: center;
	padding-top:20px;
}

/*Content*/
.footer{
	height: 90px;
	width: 965px;
	
	padding-top: 45px;
}
.footer .content-ft{
	height: 55px;
	width: 965px;
	border-top:1px solid black;
	border-bottom: 1px solid black;
}
.footer .content-ft .left-content-ft{
	height:55px;
	width: 550px;
	
	float: left
}
.footer .content-ft .right-content-ft{
	height:55px;
	width: 415px;

	float: right
}
.menu-footer{
	list-style: none;
}
.menu-footer li{
	display: inline-block;
	margin-left: 25px;
	margin-top:15px;
}
.menu-footer li a{
	color: black;
}
.clearfix{
	clear: both;
}
